<h1>Sticker Chart FTW!</h1>

<form ng-submit="addUser()">
  <label for="add-toddler">Add Toddler</label>
  <input id="add-toddler" ng-model="user" type="text">
  <input type="submit" value="Add Toddler">
</form>


<!-- <form ng-submit="addStar()">
  <label for="find-toddler">Find Toddler</label>
  <select>
  <input id="add-star" ng-model="user" type="text">
  <input type="submit" value="Add Toddler">
</form> -->

<ul>
  <li ng-repeat="user in users">
    <p>{{user.name}}</p>
    <ul>
      <li ng-repeat="star in user.stars">
        <p>{{star.task_name}}: {{star.counter}}</p>
        <div ng-bind-html-unsafe="showStar( star.counter)"></div>
        <!-- {{showStar( star.counter )}} -->
      </li>
    </ul>
  </li>
</ul>

