<h1>Sticker Chart FTW!</h1>

<form ng-submit="addUser()">
  <h3>Add Toddler</h3>
  <input ng-model="user" type="text">
  <input type="submit" value="Add Toddler">
</form>


<form ng-submit="addStar()">
  <h3> Add Star </h3>
  <!-- <select>
    <option ng-repeat="user in users" value="{{user.name}}">{{user.name}}</option>
  </select> -->
  
  <select ng-model="selectedName" ng-options="user.name for user in users">
    <option value="">-- choose toddler --</option>
  </select>
  <input type="text" ng-model="taskName">
  
  <input type="submit">
</form>

<ul>
  <li ng-repeat="user in users">
    <p>{{user.name}}</p>
    <ul>
      <li ng-repeat="star in user.stars">
        <p>{{star.task_name}}: {{star.counter}}</p>
        <div ng-bind-html-unsafe="showStar( star.counter)"></div>
        <!-- {{showStar( star.counter )}} -->
      </li>
    </ul>
  </li>
</ul>

