<h1>Sticker Chart</h1>

<form ng-submit="addUser()">
  <h3>Add Toddler</h3>
  <input ng-model="user" type="text">
  <button class="btn" type="submit">Add Toddler</button>
</form>


<form ng-submit="addStar()">
  <h3> Add Star </h3>
  
  <select ng-model="selectedName" ng-options="user.name for user in users">
    <option value="">-- choose toddler --</option>
  </select>
  <input type="text" ng-model="taskName">
  
  <button class="btn" type="submit">Give a Sticker!</button>
</form>

<ul class="unstyled sticker-list">
  <li ng-repeat="user in users">
    <h4>{{user.name}}</h4>
    <ul class="unstyled">
      <li ng-repeat="star in user.stars">
        <span>{{star.task_name}}:</span>
        <div ng-bind-html-unsafe="showStar( star.counter)"></div>
        <!-- {{showStar( star.counter )}} -->
      </li>
    </ul>
  </li>
</ul>

