<h1>To Do: {{getRemainingTodos()}}/{{getTotalTodos()}}</h1>

<ul>
  <li ng-repeat="todo in todos" class="done-{{todo.done}}">
    <input id="todo-{{$index}}" type="checkbox" ng-model="todo.done" ng-change="isDone">
    <label for="todo-{{$index}}">{{todo.text}}
  </li>
</ul>

<form ng-submit="addTodo()">
  <label for="add-todo">Add To-Do</label>
  <input id="add-todo" ng-model="todo" type="text">
  <input type="submit" value="Add ToDo">
</form>

<button ng-click="clearCompleted()">Clear Completed</button>

<coasterCar></coasterCar>
